@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

body {
  font-family: "Archivo";
}

.monospace {
  font-family: "Space Mono";
}

.serif {
  font-family: "Playfair Display";
}

#portfolio a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#shot:nth-child(1) {
  border-radius: 50px 50px 0px 0px;
}
