@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Local Fonts */
/* Brolimo */
@font-face {
  src: url(/fonts/Brolimo-Regular.ttf) format("ttf");
  font-family: "Brolimo";
  font-weight: 1 1000;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
}
/* Subjectivity */
@font-face {
  src: url(/fonts/Subjectivity-Regular.ttf) format("ttf");
  font-family: "Subjectivity";
  font-weight: 1 1000;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
}
@font-face {
  src: url(/fonts/Subjectivity-Medium.ttf) format("ttf");
  font-family: "Subjectivity";
  font-weight: 1 1000;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Medium";
}
@font-face {
  src: url(/fonts/Subjectivity-Bold.ttf) format("ttf");
  font-family: "Subjectivity-Bold";
  font-weight: 1 1000;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Bold";
}

body {
  overflow-x: hidden;
  font-family: "Archivo";
}
.heading {
  font-family: "Subjectivity", "Archivo";
  letter-spacing: -2px;
  text-transform: uppercase;
}
.monospace {
  font-family: "Space Mono";
}
srf {
  font-family: "Brolimo", "Archivo";
  letter-spacing: 0px;
}
u {
  text-decoration: none;
  border-bottom: 4px solid #304cd2;
}

/* Scroll to Top */
.top-button {
  cursor: pointer;
}

/* Image hover */
.img-hover {
  overflow: hidden;
}
.img-hover img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  transition: all 0.3s ease;
}
.img-hover img:hover {
  transform: scale(1.2);
}

/* Link Hover */
#link a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
#link a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
#link a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(0, 200%, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#link a:hover::after {
  transform: translate3d(0, 0, 0);
}

#link a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
#link a:hover span {
  transform: translate3d(0, -200%, 0);
}

/* Selected Projects List */
#portfolio a:hover {
  text-decoration: none;
}

#project-list + .project-hover {
  position: absolute;
  max-width: 480px;
  margin-top: -17%;
  margin-left: 30%;
  transform: skewX(-16deg);
  opacity: 0;
  transition: 0.6s;
  /* z-index: -1; */
}

#project-list:hover + .project-hover {
  margin-left: 47%;
  transform: skewX(0deg);
  opacity: 1;
  transition: 0.6s;
  /* z-index: 1; */
}

/* Portfolio Page*/
#shot:nth-child(1) {
  border-radius: 50px 50px 0px 0px;
}

/* Flower */
#flower {
  animation: rotation 3s linear infinite;
}

#flower2 {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
