@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

body {
  font-family: "Archivo";
}

/* Global Styling */
.monospace {
  font-family: "Space Mono";
}
.serif {
  font-family: "Playfair Display";
}
a:hover {
  text-decoration: underline;
}

/* Selected Projects List */
#portfolio a:hover {
  text-decoration: none;
}

#project-list + .project-hover {
  position: absolute;
  max-width: 480px;
  margin-top: -17%;
  margin-left: 30%;
  transform: skewX(-16deg);
  opacity: 0;
  transition: 0.6s;
  /* z-index: -1; */
}

#project-list:hover + .project-hover {
  margin-left: 47%;
  transform: skewX(0deg);
  opacity: 1;
  transition: 0.6s;
  /* z-index: 1; */
}

/* Portfolio Page*/
#shot:nth-child(1) {
  border-radius: 50px 50px 0px 0px;
}

/* Flower */
#flower {
  animation: rotation 3s linear infinite;
}

#flower2 {
  animation: rotation 5s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
